* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: white;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: black;
  background-color: #FCFCFC;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-weight: 400;
  margin: 0;
  font-size: 2.4em;
  font-family: 'Comfortaa', Helvetica, sans-serif;
  line-height: 1.2;
}

h2 {
  font-size: 1.7em;
  line-height: 1.3em;
  margin-top: 0;
}

h3 {
  font-family: 'Comfortaa', Helvetica, sans-serif;
  font-size: 1.8em;
  margin: 0 0 .4em;
}

p {
  margin: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.portfolio-wrapper {
  background-color: white;
  width: 100%;
  height: 100%;
  border-left: 1px solid #E9E9E9;
  border-right: 1px solid #E9E9E9;
}

.portfolio {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  height: 100%;
}

header {
  background-color: #D2E9F1;
  text-align: right;
  padding: 20px 20px 10px 0;
}

.intro {
  margin-bottom: 20px;
}

.leistungen {
  margin-bottom: 40px;
}

.name, .adresse {
  margin-bottom: 10px;
}

.kontakt {
  margin-bottom: 20px;
}

.kontakt-rechts {
  text-align: right;
  flex-grow: 1;
  padding-right: 20px;
}

.kontakt-links {
  flex-grow: 1;
}

footer {
  font-size: .9em;
  padding: 20px 0 5px 20px;
  background-color: #D2E9F1;
}

.kontakt-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.impressum {
  font-size: .8em;
  text-align: center;
  margin-bottom: 10px;
}

